<html>
<head>
    <title>Stylist</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    <link rel="stylesheet" href="styles.css">
</head>
<body>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href='/'>Baldie Salon</a>
      </div>
    </div>
  </nav>

<div class="container">
    <h3>Add new stylist</h3>

    <form action="/stylists" method="post">
        <input id="name" name="name" type="text" placeholder="name">

        <button type="submit" class="btn-primary btn-lg">Add Stylist</button>
    </form>

    {% if stylists is not empty %}
        <p>Available Stylists</p>
        <ul>
            {% for stylist in stylists %}
                <li><a href="/stylists/{{ stylist.getId }}">{{ stylist.getName }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
      <p>Please add a stylist!</p>
    {% endif %}
</div>
</body>
</html>
